{% extends 'base.html' %}

{% block title %}Vehicle List{% endblock %}

{% block content %}
  <h2 class="mb-4">Vehicle List</h2>
  <ul class="list-group">
    {% for vehicle in vehicles %}
      <li class="list-group-item">
        <a href="{% url 'vehicle_detail' pk=vehicle.pk %}">{{ vehicle.vehicle_number }}</a>
      </li>
    {% endfor %}
  </ul>
  <a class="btn btn-primary mt-4" href="{% url 'vehicle_create' %}">Add New Vehicle</a>


  <a class="btn btn-primary mt-4" href="{% url 'create_profile' %}" style="
  position: relative;
  left: 1120px;
  ">Create Profile</a>
{% endblock %}